@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Red+Hat+Display:wght@300&display=swap');

:root {
    --primary-color: #282B5B;
    --secondary-color: #49DCB1;
    --accent1-color: #F42C04;
    --accent2-color: #EEB868;
    
    --heading-font: "Playfair Display", serif;
    --paragraph-font: "Red Hat Display", serif;

    --nav-background-color: var(--accent2-color);
    --nav-link-color: var(--primary-color);
    --nav-hover-link-color: #FFF;
    --nav-hover-background-color: var(--primary-color);
}

body {
    max-width: 1160px;
    margin: 0 auto;
}

h1,h2,h3,h4,h5,h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

h2 {
    text-align: center;
}

header {
    display: grid;
    grid-template-columns: 4fr 6fr;
    justify-items: center; 
    align-items: center;
    padding: 15px;
    margin: 10px;
    border-radius: 5px;
    background-color: var(--accent2-color);
}

header img {
   height: 120px;
   border-radius: 5px;
}

header nav {
    display: flex;
    max-width: 800px;
    justify-content: space-around;
    align-content: space-between;
    align-items: stretch;
}

header nav a {
    font-size: 20px;
    padding: 8px 25px;
    color: var(--nav-link-color)
}

header nav a:hover{
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
    border-radius: 5px;
}

main {
    margin: 10px;
}

p {
   font-family: var(--paragraph-font);
   padding: 15px;
}

nav a {
   text-decoration: none;
}

a img {
    width: 40px;
    height: auto;
}

footer {
    position: relative;
    text-align: center;
    padding: 15px;
    border-radius: 5px;
    background-color: var(--accent2-color);
}

footer p {
    padding: 0;
}

.adventure {
    display: grid;
    grid-template-columns: repeat(5, 220px);
    justify-content: space-between;
    align-items: center;
    grid-column: auto;
}

.adventure figure {
    padding: 0;
    margin: 10px;
}

.adventure figcaption {
    text-align: center;
}

.adventure img {
    max-width: 100%;
    border-radius: 4px;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.hero h1 {
    position: absolute;
    text-align: center;
    background-color: rgba(255, 255, 255, .4);
    top: 10px;
    left: 0;
    right: 0;
}

.hero article {
    position: absolute;
    background-color: rgba(255, 255, 255, .7);
    left: 0;
    right: 0;
    bottom: 30px;
    width: 90%;
    margin: 0 auto;
    padding: 10px;
}

.hero article img {
    float: right;
    width: 200px;
    height: auto;
}

.hero article p {
    margin: 0;
    padding: 0;
}

.sociallinks {
    display: block;
    position: absolute;
    height: fit-content;
    right: 20px;
    top: 0;
    bottom: 0;
    margin: auto 0;
}