@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Red+Hat+Display:wght@300&display=swap');

:root {
    --primary-color: #282B5B;
    --secondary-color: #49DCB1;
    --accent1-color: #F42C04;
    --accent2-color: #EEB868;
    
    --heading-font: "Playfair Display", serif;
    --paragraph-font: "Red Hat Display", serif;

    --nav-background-color: var(--accent2-color);
    --nav-link-color: var(--primary-color);
    --nav-hover-link-color: #FFF;
    --nav-hover-background-color: var(--primary-color);
}

body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}

h1,h2,h3,h4,h5,h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

 header {
    padding: 15px;
    background-color: var(--accent2-color);
 }

 p {
    padding: 15px;
 }

 nav {
    background-color: var(--nav-background-color);
    font-size: 1.4rem;
    display: flex;
 }

 nav a {
    display: block;
    color: var(--nav-link-color);
    padding: 1.2rem;
 }

 nav a:link, nav a:visited {
    color: var(--nav-link-color);
 }

 nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
 }