@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Red+Hat+Display:wght@300&display=swap');

* {
	margin: 0;
	padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Playfair Display", serif;
    font-size: 1.3em;
    color: #111;
    background: #fff;
    max-width: 1160px;
    margin: 0 auto;
}

header {
    margin: 0 auto;
}

h1 {
    text-align: center;
    margin: 1.4rem;
}

form {
    display: grid;
    width: 100%;
    margin: 0 auto;
    padding: 1.4rem;
    border: 1px solid #111;
    border-radius: 1.8rem;
    background-color: #fefefe;
}

fieldset {
    display: grid;
    grid-gap: .8rem;
    padding: 1.2rem;
    margin: 1rem;
    border: 1px solid #000;
    border-radius: .8rem;
}

legend {
    font-size: 1.5rem; 
    padding: 0.8rem;
}

input, select, textarea {
    padding: 0.5rem;
    font-size: 1.1rem;
}

label,
input,
button,
select,
textarea {
    font-family: 'Red Hat Display', serif;    
    font-size: 1.2rem;
}

input[type="checkbox"] {
    width: 22px;
    height: 22px;
    vertical-align: bottom;
}

label {
    text-align: right;
    padding-right: 1.2rem;
}

button {
    margin: 0 auto;
    width: wrap-content;
    background-color: #fff;
    padding: 5px 8px;
    border-radius: 0.5rem;
}

button:hover {
    cursor: pointer;
    background-color: #cdf;
}

footer {
    margin: 2rem;
    padding: 0.8rem;
    text-align: center;
    border-top: 1px dotted #111;
}