* {
	margin: 0;
	padding: 0;
    box-sizing: border-box;
}

h1 {
    text-align: center;
}

form {
    width: 700px;
    margin: 0 auto;
}

.code-box {
    background-color: #003847;
    color: #859900;
    padding: 6px 10px;
    margin: 0 auto;
    border-radius: 0.6rem;
    width: 300px;
}