* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

main {
    max-width: 820px;
}

main * {
    margin: 1rem;
}

nav {
    background-color: steelblue;
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: steelblue;

}

main img {
    float: right;
    width: 150px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

aside {
    position: relative;
    width: 30%;
    text-align: center;
    clear: both;
}

aside h2 {
    position: absolute;
    color: #FFF;
    top: 18px;
    left: 34%;
}

aside img {
    width: 200px;
    height: auto;
}

p {
    padding: 0;
}

footer {
    margin-top: 20px;
    border-top: 2px solid #361527;
    text-align: center;
}

 /* Class Selectors */
 .box {
    margin: 1rem;
    padding: 1rem 2rem;
    border: 1px solid #361527;  
    border-radius: 3px;
    color: #361527; 
    background-color: #86f4ef;
 }

 ul.box {
    width: 70%;
 }