main {
    max-width: 820px;
}

nav {
    background-color: steelblue;
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: steelblue;

}

main img {
    width: 150px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

aside {
    width: 30%;
    margin: 10px;
    border: 2px solid #361527;
    border-radius: 6px;
    padding: 1rem;
    background-color: #86f4ef;
    color: black;
    text-align: center;
}

aside img {
    width: 200px;
}

p {
    padding: 0;
}

footer {
    margin-top: 20px;
    border-top: 2px solid #361527;
    text-align: center;
}